services:
  mongoDB:
    image: mongo
    restart: always
    ports:
      - "${MONGODB_PORT}:27017"
    container_name: "${MONGODB_CONTAINER_NAME}"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGODB_DATABASE}
    volumes:
      - mongodb_data:/data/db
    networks:
      - cookbook-app
  minio:
    image: minio/minio:latest
    restart: always
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    container_name: "${MINIO_CONTAINER_NAME}"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    networks:
      - cookbook-app
    command: server /data --console-address ":9001"
  backend:
    build:
      context: ./backend
      dockerfile: ./docker/Dockerfile
    container_name: "${BACKEND_CONTAINER_NAME}"
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "${BACKEND_PORT}:3001"
    networks:
      - cookbook-app
    depends_on:
      - mongoDB
      - minio
networks:
  cookbook-app:
    driver: bridge
volumes:
  minio_data:
  mongodb_data:
