services:
  frontend:
    build:
      context: ./frontend
      dockerfile: ./docker/Dockerfile
    container_name: "cookbook-frontend"
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    ports:
      - "127.0.0.1:3100:3000"
    networks:
      - cookbook-app
    command: npm run dev

  backend:
    build:
      context: ./backend-python
      dockerfile: Dockerfile
    container_name: "cookbook-backend"
    ports:
      - "127.0.0.1:3101:5000"
    volumes:
      - ./backend-python:/app
    depends_on:
      - db
    networks:
      - cookbook-app

  db:
    image: mysql:8.0
    container_name: "cookbook-mysql"
    ports:
      - "127.0.0.1:3102:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=cookbook_db
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - cookbook-app

networks:
  cookbook-app:
    driver: bridge

volumes:
  mysql_data:
