services:
  mongoDB:
    image: mongo
    restart: always
    ports:
      - "127.0.0.1:${MONGODB_PORT}:27017"
    container_name: "${MONGODB_CONTAINER_NAME}"
    networks:
      - cookbook-app
  minio:
    image: minio/minio:latest
    restart: always
    ports:
      - "127.0.0.1:${MINIO_API_PORT}:9000"
      - "127.0.0.1:${MINIO_CONSOLE_PORT}:9001"
    container_name: "${MINIO_CONTAINER_NAME}"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    networks:
      - cookbook-app
    command: server /data --console-address ":9001"
networks:
  cookbook-app:
    driver: bridge
volumes:
  minio_data:
