services:
  mongoDB:
    image: mongo
    restart: always
    ports:
      - "127.0.0.1:3002:27017"
    container_name: "cookbook-mongo"
    networks:
      - cookbook-app
  frontend:
    build:
      context: ./frontend
      dockerfile: ./docker/Dockerfile
    container_name: "cookbook-frontend"
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    ports:
      - "127.0.0.1:3000:3000"
    networks:
      - cookbook-app
    command: npm run dev
  backend:
    build:
      context: ./backend
      dockerfile: ./docker/Dockerfile
      args:
        uid: 501
        user: worker
    container_name: "cookbook-backend"
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    ports:
      - "127.0.0.1:3001:3001"
    networks:
      - cookbook-app
    command: npm run watch
networks:
  cookbook-app:
    driver: bridge
