.CreateRecipeDialog {
  .content-wrap {
    width: 600px;
  }

  .text-field {
    display: block;
  }

  .short-inputs {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
  }
}
